@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}


html {
  scroll-behavior: smooth;
}
/* ✅ Gradient light theme */
html[data-theme="light"] body {
  @apply bg-gradient-to-r from-purple-100 to-indigo-50 text-gray-700;
}

/* ✅ Dark theme DaisyUI dark palette */
html[data-theme="dark"] body {
  @apply bg-gray-900 text-gray-200;
}
/* Light mode Hero gradient */
html[data-theme="light"] .hero-section {
  @apply bg-gradient-to-r from-pink-50 via-purple-50 to-pink-50;
}

/* Dark mode Hero gradient */
html[data-theme="dark"] .hero-section {
  @apply bg-gradient-to-r from-gray-900 via-purple-900 to-gray-800;
}
